<mods>
	<eventHooks>
		<class id="net.minecraft.world.World">
			<insertCodeBefore code="{ System.out.println(&quot;Example logspam&quot;}; }">getBlock</insertCodeBefore>
		</class>
	</eventHooks>
</mods>
