{
    mods: {
        eventHooks: {
            class: {
                id: "net.minecraft.world.World",
                insertCodeBefore: {
                    target: getBlock,
                    code: """{ System.out.println("Example logspam"}; }"""
                }
            }
        }
    }
}
